.App {
  max-width: 700px;
  margin: 30px auto;
}
.App .container {
  border: solid;
  border-width: thin;
  border-color: rgb(128, 128, 128, 0.5);
  border-radius: 4px;
  padding: 10px;
}
.TempValue {
  font-size: 68px;
  position: relative;
  top: 35px;
}
.unit {
  font-size: 20px;
}
.DetailedInfo {
  font-size: 22px;
}
.DayForecast li .row {
  font-size: 14px;
}
.DayForecast li .row .col img {
  width: 70px;
}
li {
  list-style: none;
}

.Information {
  margin-top: 125px;
}
.Information ul {
  margin-top: 25px;
}
.DescriptionInfo {
  text-transform: capitalize;
}

#MainIcon img {
  width: 200px;
}

.DescriptionInfo,
.DateInfo {
  margin-bottom: 3px;
}
.CityName {
  font-size: 58px;
}
footer {
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}
